{
  "env": {
    "test": {
      "presets": ["airbnb"],
      "plugins": ["istanbul"]
    },
    "cjs": {
      "presets": [["airbnb", { "loose": true }]]
    },
    "es": {
      "presets": [["airbnb", { "loose": true, "modules": false }]]
    }
  }
}